# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

#eslint
.eslintrc.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

env.sh
env.bat
logs.txt
npm-debug.log
